<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <ModulePath>.*Startup.*</ModulePath>
            <ModulePath>.*Program.*</ModulePath>
            <ModulePath>.*BasePathFilter.*</ModulePath>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>